<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
           {{>header}}
            <img class="portrait" src='/img/download.jpg'>
            <p>We are powering actionable weather <br>
insights around the world. Our mission <br>
is to help people and organizations <br>
manage weather related challenges with <br>
the best information and insights</p>

        </div>
            
{{>footer}}
    </body>
</html>