<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
         <div class="main-content">
           {{>header}}
           <br><br><h1><center>Error 404 !!.. Page Not Found</center></h1>

        </div>
       
           {{>footer}}
    </body>
</html>